@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.container {
  //   display: flex;
  //   justify-content: center;
}
.field {
  margin: 20px auto;
  background: grey;
  border: 3px solid black;
  border-radius: 10px;
  max-width: fit-content;
  max-width: -moz-fit-content;
  user-select: none;
  padding: 5px;
  position: relative;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    grid-gap: 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(90, 86, 86);
    background: white;
    border-radius: 10px;
    width: 100%;
    font-size: 40px;
  }
  &__curtain {
  }
}
.cell {
  &--active {
    background: grey;
    border: none;
  }
  &--available {
    cursor: pointer;
    &:hover {
      background-color: rgb(125, 150, 125);
    }
  }
}
.navigation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  &__button {
    cursor: pointer;
  }
}
.sound {
  background: url("../assets/speaker.png");
  background-size: 100%;
  width: 40px;
  height: 40px;
  border: none;
  &--off {
    background: url(../assets/mute.png);
    background-size: 100%;
  }
}
.animationAvailable {
  visibility: hidden;
}
.size-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  &__button {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
.curtain {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__continue {
  }
  &__start {
  }
  &__left {
  }
  &__right {
  }
}
.result-list {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: green;
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
  }
  &__no-result {
  }
}
.you-win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__text {
    font-size: 40px;
    text-align: center;
    max-width: 250px;
  }
  &__button-new-game {
  }
}

@media (max-width: 767px) {
  .field {
    &__list {
      grid-gap: 3px;
    }
  }
}
