@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.field {
  margin: 5px auto;
  max-width: fit-content;
  max-width: -moz-fit-content;
  user-select: none;
  position: relative;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    grid-gap: 10px;
    height: min(80vw, 65vh);
    width: min(80vw, 65vh);
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
  }
}
.cell {
  background-image: url(../assets/blood-scroll.png);
  background-size: cover;
  background-position: center;
  color: $text-color;
  font-size: inherit;
  &--active {
    opacity: 0;
    border: none;
  }
  &--available {
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem $text-color);
    &:hover {
      color: $text-color-hover;
      filter: drop-shadow(0 0 0.75rem $text-color-hover);
    }
  }
}
.navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  &__button {
    cursor: pointer;
  }
}
.sound {
  background: url("../assets/speaker.png");
  background-size: 100%;
  width: 40px;
  height: 40px;
  border: none;
  &--off {
    background: url(../assets/mute.png);
    background-size: 100%;
  }
}
.animationAvailable {
  visibility: hidden;
}
.size-menu {
  display: flex;
  justify-content: center;
  gap: 10px;

  max-width: fit-content;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0px 174px;
}
.curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  gap: 100px;
  padding: 16% 6% 5% 7%;
  &__continue {
    z-index: 2;
  }
  &__new-game {
    position: relative;
    z-index: 2;
  }
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.btn {
  position: relative;
  padding: 0;
  border: none;
  height: 50px;
  transition: all 1s;
  &-left {
    background: url("../assets/button-sprite.png") no-repeat 0 -109px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    cursor: pointer;
    transition: all 1s;
    z-index: 3;
    &:hover {
      & ~ .btn-middle {
        color: $text-color-hover;
      }
    }
  }
  &-middle {
    background: url("../assets/button-sprite.png") repeat-x 0px -2px;
    color: $text-color;
    padding: 16px 51px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 1s;
    &:hover {
      color: $text-color-hover;
    }
    &:active {
      filter: drop-shadow(0 0 0.75rem $shadow);
    }
  }
  &-right {
    background: url("../assets/button-sprite.png") no-repeat 0 -163px;
    height: 50px;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    width: 51px;
    cursor: pointer;
    transition: all 1s;
    &:hover {
      & ~ .btn-middle {
        color: $text-color-hover;
      }
    }
  }
}
.resultl {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: $text-color;
  flex-direction: column;
  padding: 16% 6% 5% 7%;
  &__title {
    display: flex;
    justify-content: space-between;
  }
  &__table {
    display: flex;
    justify-content: space-between;
    &-date {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1 0 45%;
      gap: 1px;
    }
    &-size {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      flex: 1 0 15%;
      gap: 1px;
    }
    &-moves {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1 0 20%;
      gap: 1px;
    }
    &-time {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1 0 20%;
      gap: 1px;
    }
  }
  &__close {
    margin-top: auto;

    &-middle {
      position: relative;
      z-index: 2;
    }
  }
}
.title {
  padding-bottom: 20px;

  &__date {
    flex: 1 0 45%;
  }
  &__size {
    flex: 1 0 15%;
  }
  &__moves {
    flex: 1 0 20%;
  }
  &__time {
    flex: 1 0 20%;
  }
}
.title__date,
.title__size,
.title__moves,
.title__time,
.list-date__item,
.list-size__item,
.list-moves__item,
.list-time__item {
  text-align: center;
  position: relative;
  z-index: 2;
}

.you-win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16% 6% 5% 7%;
  &__text {
    color: $text-color;
    position: relative;
    z-index: 2;
    font-size: 20px;
    text-align: center;
  }
  &__image {
    position: relative;
    z-index: 2;
    width: min(20vw, 20vh);
    max-width: 150px;
  }
}

.moves-wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  width: fit-content;
  &__moves {
    position: absolute;
    top: 40%;
    left: 50%;
    color: $text-color;
    font-size: 24px;
  }
}
.updated-data {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.time-wrapper {
  position: relative;
  bottom: 0;
  right: 0;
  width: fit-content;
  &__timer {
    position: absolute;
    top: 40%;
    right: 38%;
    color: $text-color;
    font-size: 24px;
    width: 65px;
  }
}
.burger-menu {
  display: none;
}
.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  display: none;
  padding: 16% 6% 5% 7%;
}
.menu__button {
  &--sound {
    position: absolute;
  }
}
.menu__size-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: fit-content;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0px 10%;
}
@media (max-width: 802px) {
  .size-menu {
    gap: 5px;
  }
  .field__list {
    height: min(80vw, 63vh);
    width: min(80vw, 63vh);
    grid-gap: 3px;
  }

  .navigation {
    gap: 5px;
  }
  .resultl__title {
    padding-bottom: 5px;
    font-size: 10px;
  }
  .resultl__table {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .field {
    &__list {
      grid-gap: 3px;
    }
  }
}
@media (max-width: 700px) {
  .burger-menu {
    display: block;
  }

  .restart,
  .save,
  .sound,
  .load,
  .result {
    display: none;
  }
  .size-menu {
    display: none;
  }
  .container {
    justify-content: start;
    gap: 5px;
  }
  .menu__button {
    &.restart,
    &.save,
    &.sound,
    &.load,
    &.result {
      display: block;
    }
  }
  .menu {
    &__size-menu {
      display: flex;
      padding: 0px;
      gap: 0px;
    }
  }
  .btn-middle {
    padding: 16px 6vw;
  }
  .menu__button--sound {
    z-index: 10;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: min(6vw, 6vh);
    background-repeat: no-repeat;
  }
  .time-wrapper {
    bottom: -15px;
    right: -50px;
  }
  .moves-wrapper {
    bottom: -15px;
    left: -50px;
  }
  .field__list {
    height: min(80vw, 63vh);
    width: min(80vw, 63vh);
  }
}
@media (max-width: 620px) {
  .menu {
    &__size-menu {
      gap: 5px;
    }
  }
}
@media (max-width: 470px) {
  .resultl__title {
    font-size: 7px;
  }
  .btn-right {
    background: url("../assets/button-sprite.png") no-repeat 12px -135px;
    height: 40px;

    background-size: 82%;
  }
  .btn-left {
    background: url("../assets/button-sprite.png") no-repeat -3px -91px;
    height: 40px;

    background-size: 82%;
  }
  .btn {
    height: 40px;
  }
  .btn-middle {
    height: 40px;
    padding: 12px 6vw;
  }
}
@media (max-width: 400px) {
  .btn-middle {
    padding: 16px 24px;
  }
  .curtain {
    justify-content: space-around;
    gap: 0;
    padding: 16% 6% 5% 7%;
  }

  .btn-right {
    background: url("../assets/button-sprite.png") no-repeat 29px -75px;
    height: 24px;
    background-size: 46%;
  }
  .btn-left {
    background: url("../assets/button-sprite.png") no-repeat -1px -50px;
    height: 24px;
    background-size: 46%;
  }
  .btn {
    height: 24px;
  }
  .btn-middle {
    background: url("../assets/button-sprite.png") repeat-x 0px -6px;
    height: 24px;
    padding: 7px 6vw;
    font-size: 10px;
  }
}
@media (max-width: 330px) {
  .you-win__text {
    font-size: 10px;
  }
}

@media (max-height: 800px) {
  .resultl__title {
    padding-bottom: 5px;
    font-size: 7px;
  }
  .resultl__table {
    font-size: 12px;
  }

  .menu__size-menu {
    padding: 0;
  }
}

@media (max-height: 607px) {
  .btn-right {
    background: url("../assets/button-sprite.png") no-repeat 12px -135px;
    height: 40px;

    background-size: 82%;
  }
  .btn-left {
    background: url("../assets/button-sprite.png") no-repeat -3px -91px;
    height: 40px;

    background-size: 82%;
  }
  .btn {
    height: 40px;
  }
  .btn-middle {
    height: 40px;
    padding: 12px 5vw;
  }
}
@media (max-height: 600px) {
  .burger-menu {
    display: block;
  }
  .navigation__button {
    &.restart {
      display: none;
    }
    &.save {
      display: none;
    }
    &.sound {
      display: none;
    }
    &.load {
      display: none;
    }
    &.result {
      display: none;
    }
  }
  .size-menu {
    display: none;
  }
  .container {
    justify-content: start;
    gap: 5px;
  }
}
@media (max-height: 560px) {
  .you-win__text {
    font-size: 10px;
  }
}
@media (max-height: 574px) {
  .resultl__title {
    padding-bottom: 5px;
    font-size: 7px;
  }
  .resultl__table {
    font-size: 12px;
  }
}

@media (max-height: 531px) {
  .btn-middle {
    padding: 12px 4vw;
  }
}
@media (max-height: 477px) {
  .btn-middle {
    padding: 16px 24px;
  }
  .curtain {
    justify-content: space-around;
    gap: 0;
    padding: 16% 6% 5% 7%;
  }

  .btn-right {
    background: url("../assets/button-sprite.png") no-repeat 29px -75px;
    height: 24px;
    background-size: 46%;
  }
  .btn-left {
    background: url("../assets/button-sprite.png") no-repeat -1px -50px;
    height: 24px;
    background-size: 46%;
  }
  .btn {
    height: 24px;
  }
  .btn-middle {
    background: url("../assets/button-sprite.png") repeat-x 0px -6px;
    height: 24px;
    padding: 7px 3vw;
    font-size: 10px;
  }
  .size-menu1 {
    padding: 0;
  }
}
@media (max-height: 370px) {
  .btn-middle {
    padding: 7px 2vw;
  }
}

@media (max-height: 382px) {
  .resultl__title {
    font-size: 7px;
  }
  .resultl__table {
    font-size: 10px;
  }
}
